.box-datos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 180px;
    border: 01px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.box-datos .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-datos .container .cabecera{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box-datos .container .cabecera .barra{
    width: 5px;
    height: 70px;
    background-color: var(--color-primary);
}

.box-datos .container .cabecera .texto{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.box-datos .container .cabecera .texto p{
    font-size: 2rem;
    font-weight: 400;
}

.box-datos .container .cabecera .texto  span{
    font-size: 1.1rem;
}

.box-datos .container .descripcion{
    font-size: .9rem;
    color: #666;
}