.ventas-mensuales-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 01px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 260px;
  }
  
  .ventas-mensuales-card h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  