.card-doughnut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    border: 01px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 340px;
    padding: 0px 20px;
    height: 180px;
    gap: 20px;
  }
  
  .text-content h4 {
    font-size: 1.1rem;
    margin: 0;
  }
  
  .text-content h2 {
    font-size: 2rem;
    margin: 5px 0;
    font-weight: 400;
  }
  
  .text-content p {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
  }
  
  .chart-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1rem;
  }
  