.cp__container{
    margin-top: 1rem;
    border: 01px solid rgba(0, 0, 0, 0.1);
    height: 80vh;            
    overflow-y: auto;  
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}