.bg{
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(337deg, #082167 25%, #23a8af 35%, #f79838 65%, #ffcf65 90% );
    animation: fondoAnimado 20s ease infinite;
}
@keyframes fondoAnimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

