.modalBig{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBig .container{
    width: 420px;
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

.modalBig .container .header{
    width: 90%;
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    h2{
        font-size: 24px;
        font-weight: 600;
        color: #333;
        margin: 0;
    }
    
}