.userList__container{
    h1{
        padding-bottom: 8px;
        margin-bottom: 24px;
        border-bottom: 5px solid var(--color-primary);
        max-width: fit-content;
    }
}

.userList__container .p_final{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 5px solid var(--color-primary);
}